{{#each this}}
<li>
    <h3>Pana-cotta</h3>
    <img width="200px" height="100px"
        src="https://dfuukapb8h94d.cloudfront.net/wp-content/uploads/2018/05/17232900/Rosewater-Pannacotta-WEB.jpg"
        alt="#" />
    <ul>
        {{#each ingredients}}
        <li>1</li>
        {{/each}}
    </ul>
    <div>
        <p>{{description}}</p>
        <p>{{price}}$</p>
    </div>
</li>
{{/each}}